/* COMMON */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    margin:0rem 4rem 2rem 4rem;
    font-family:'Montserrat', sans-serif;
    color: rgba(138, 138, 138, 1);
}

/* /MAIN */
.container {

}
/* /HEADER */
.header{
    background-color: white;
    height: 80px;
    font-size: 15px;
    color: grey;
    margin-top: 0px;
    
}

.logo img{
    width: 120px;
    border-right: grey;
    padding: 15px;
    margin-top: 0px;
}

nav a{
    text-decoration:none;
    margin-top: 5px;
}


.rettangolo1{
    height: 300px; 
   margin-top: 30px;
   overflow: hidden;
   border-radius: 10px;

}

.rettangolo1 img{
    height: 600px;
    width:;
    vertical-align: super;
    
}


.rettangolo2{
    background-color:rgba(171, 207, 231, 1) ;
    height:55px;
    margin-top: 20px;
    
}

.rettangolo3{
    background-color:rgba(0, 134, 255, 1) ;
    height: 300px;
}


.colonna1{
    background-color: rgba(171, 207, 231, 1) ;
    width: 20%;
    float: left;
    height: 272px;
    margin-top: 15px;
margin-bottom: 10px;
margin-right: 1%;
}
.colonna2{
    background-color: rgba(171, 207, 231, 1);
width: 58%;
height: 272px;
float:left;
margin-top: 15px;
margin-right: 0%;
}
.colonna3{
    background-color: rgba(171, 207, 231, 1);
width: 20%;
height: 272px;
float: right;
margin-top: 15px;
margin-bottom: 10px;
margin-left: 1%;
}

.sidebar{
    background-color: rgba(171, 207, 231, 1);
    height:200px ;
}

/* FOOTER */
.copyright{
    background-color: rgba(136, 1, 254, 1);
    height: 40px;
    margin-top: 10px;
}